.image {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

.gallery {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gallery .gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  opacity: 0;
}

.gallery-item.transparent {
  pointer-events: none; /* 禁用点击事件 */
}
